# 二进制文件
*.exe
*.exe~
*.dll
*.so
*.dylib

# 测试文件
*.test
*.out
/test/
/test*/

#备份文件
*.bak

# 密码文件
passwd*.txt*
passwd*

# IDE 相关
.idea/
.vscode/
*.swp
*.swo
func.md


# 依赖目录
/vendor/

# 调试文件
debug


# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# 其他
/tools/

# 服务端
#/server/
/server/build_server_all.bat
/server/7zrpw_server


